body {
  text-align: center;
  display: block;
  margin: 8px;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
p {
  margin: 16px;
}
.photo {
  max-width: 50%;
  max-height: 20%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
footer a {
  margin: 0 10px;
  color: green;
}
